body{
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
.borderleft{
  border-left:2px solid #ccc;
}
.borderright{
  border-right:2px solid #ccc;
}

.smallbox{
    padding-left:2.5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
}
.navbar{
  background-color:#4a154a !important;
}
.navbar a{
  color:white !important;
}
.navbar-toggler-icon{
  background-color:white;
}

.aboutbox{
  background-color: #4a154a;
  width: 101%;
  padding-top: 4%;
  padding-bottom: 2%;
  color: white;
}

#collegename{
  text-align: center;
}
#aboutcollege{
  text-align: center;
  margin-top: 30px;
}
.readmorebtn{
  border-color: white;
  color: white;
  margin: auto !important;
}

.readmorebtn:hover{
  background-color: orange;
  color: black;
  border: 0px;
}

.program{
  margin-top: 3%;
}

.asmttitle{
  text-align: center;
  text-transform: uppercase;
  color: #4a154a;
  font-weight: bold;
}

.circle{
  background-color: #4a154a;
  height: 230px;
  width: 230px;
  color: white;
  font-size: 18px;
  padding: 25% 5%;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25%;
}

.circle:hover{
  background-color: orange;
}

.feature{
  margin-bottom: 5%;
  text-align: center;
}

.box{
  text-align: center;
  height: 500px;
  padding: 10px 15px;
  background-color: rgb(243, 242, 242);
  
}



.readmore{
  background-color: #4a154a;
  color: white;
  border: none;
}

.readmore:hover{
  background-color: orange;
  color: black;
  border: 0px;
}
.card-title{
  color: #4a154a;
}

.box:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}